<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Route api/send-email calls to the PHP handler
  RewriteRule ^api/send-email$ api/send-email.php [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
